*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

client/bin/* 
server/bin/*
server/rest/bin/*
tcp_client_server/tcp_client/bin/*
tcp_client_server/tcp_server/bin/*
