android/*.iml
android/app/*.iml
android/.gradle
android/local.properties
android/.idea/workspace.xml
android/.idea/tasks.xml
android/.idea/libraries
android/.idea/vcs.xml
android/.DS_Store
android/build
android/captures
android/.externalNativeBuild

client/bin/* 
server/bin/*
server/rest/bin/*
tcp_client_server/tcp_client/bin/*
tcp_client_server/tcp_server/bin/*
