android/*.iml
android/app/*.iml
android/.gradle
android/local.properties
android/.idea/workspace.xml
android/.idea/tasks.xml
android/.idea/libraries
android/.idea/vcs.xml
android/.DS_Store
android/build
android/captures
android/.externalNativeBuild
*.apk

*/bin/* 
*/lib/* 
*.class 
*.exe

client/bin/

client/lib/

rest/bin/

rest/lib/

server/bin/

server/lib/
server/post-deploy.sh

healthcheck/.env
healthcheck/node_modules

healthcheck/\.idea/workspace\.xml

rest/\.idea/workspace\.xml

server/build/

server/phantomjs

server/resources/phantomjs

MavenLivebasketball/Livebasketball/\.idea/workspace\.xml

MavenLivebasketball/Livebasketball/phantomjsdriver\.log

MavenLivebasketball/Livebasketball/target/classes/

MavenLivebasketball/Livebasketball/target/maven-archiver/

MavenLivebasketball/Livebasketball/target/maven-status/

MavenLivebasketball/Livebasketball/target/

MavenLivebasketball/Livebasketball/\.idea/libraries/

MavenLivebasketball/Livebasketball/src/main/resources/Live Basketball-6f1efe988a6d\.json

MavenLivebasketball/Livebasketball/src/main/resources/firebaseServiceKey\.json

MavenLivebasketball/Livebasketball/src/main/resources/LiveBasketball-prod-4b2b17eef509\.json

MavenLivebasketball/Livebasketball/dependency-reduced-pom\.xml

MavenLivebasketball/Livebasketball/src/main/resources/config/
